
# Playwright
/.env/
/node_modules/
/allure-report/
/allure-results/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Playwright
node_modules/

# GitHub Actions and Agents
.github/agents/
.github/workflows/
